@font-face {
    font-family: dindong;
    src: url(/font/ttf_dindong/DINdong.ttf);
}

@font-face {
    font-family: poppins;
    src: url(/font/ttf_poppins_tn_main/BBBPoppinsTN-DisplayBlack.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: dindong;
    }