@font-face {
    font-family: dindong;
    src: url(/font/dindong-main/ttf/DINdong.ttf);
}

@font-face {
    font-family: poppins;
    src: url(/font/bbb-poppins-tn-main/ttf/BBBPoppinsTN-DisplayBlack.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: dindong;
    }

    header{
        height: 5vh;
        display: flex;
        align-items: center;
        background-color: aqua;
        .info{
            display: flex;
        }
        .liens{
            display: flex;
        }
    }